/* your code */
*{
	margin: 0px;
	padding: 0px;
}
.table{
	width: 550px;
	height: 200px;
	border: 0.1px solid black;
	border-radius: 4px;
	
}
.head{
	background-color:red;
	margin : 0px;
}
.odd{
	
}
.even{
	
}