/* your code */
*{
	margin: 0px;
	padding: 0px;
}
.table{
	width: 550px;
	height: 200px;
	border: 0.1px solid black;
	border-radius: 10px;
}
.heading{
	background-color:dodgerblue;
	margin : 0px;
}
.odd{
	
}
.even {
	background-color: grey;
}